  </div>

<footer class="nav-footer bg-dark mt-auto">
  <ul class="nav justify-content-center">
      <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
          <a class="nav-link" href="/campgrounds">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if(typeof currentUser === 'undefined'){ %>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
            <a class="nav-link" href="/register">Sign Up</a>
          </li>
        <% } else { %>
          <li class="navbar-text">
            <a href="/users/<%= currentUser._id %>">
            <% if (currentUser.isAdmin) { %>
              <i class="fas fa-user-astronaut"></i>
            <% } else { %>
              <i class="fas fa-user"></i>
            <% } %>
              <%= currentUser.username %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        <% } %>
      </ul>
    </ul>
</footer>

  <!-- JQuery -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

  <!-- Main JS -->
  <script src="js/main.js"></script>
</body>
</html>