<% include ../partials/header %>

<h1>This is the show template</h1>
<p><%= campground.name %></p>
<img src="<%= campground.image %>" alt="">
<p><%= campground.description %></p>
<% campground.comments.forEach(comment => { %>
     <h1><strong><%= comment.author %></strong></h1>
     <p><%= comment.text %></p>
<% });%>

<% include ../partials/footer %>