<% include ../partials/wrapper_head_full_width %>

<header class="jumbotron campgrounds-header">
  <div class="container">
    <div class="row">
      <div class="col col-md-8 col-lg-5">
        <h1>Find Your Camp</h1>
        <p>View hand-picked campgrounds from all over the world.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 col-lg-3 mb-3">
          <% if(typeof currentUser === 'undefined'){ %>
            <a class="btn btn-primary btn-lg btn-block" href="/register">Sign Up to Contribute!</a>
          <% } else { %>
            <a class="btn btn-primary btn-lg btn-block" href="/campgrounds/new">Add New Campground</a>
          <% } %>
      </div>
      <div class="col col-md-8 col-lg-4 d-md-none">
        <form action="/campgrounds" method="GET">
          <div class="input-group">
            <input class="form-control" type="text" name="search" placeholder="Campground search...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
            </div>
            <!-- <button class="btn btn-primary">Search</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="down-arrow">
    <i class="fas fa-arrow-down text-light"></i>
  </div>
</header>

<div class="container">

  <div class="card-columns">

    <%  campgrounds.forEach((campground) => { %>
          <div class="card mb-3">
            <a href="/campgrounds/<%= campground._id %>"><img src="<%= campground.image %>" class="card-img-top" alt=""></a>
            <div class="card-body">
              <h5 class="card-title"><%= campground.name %></h5>
              <p class="card-text"><%= campground.description %></p>
              <p class="card-text"><a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">More Info</a></p>
            </div>
          </div>
    <%  }); %>

  </div>

</div>

<% include ../partials/footer %>