<% include ../partials/header %>

<div class="row">
  <div class="col-3">
    <p class="lead">YelpCamp</p>
    <ul class="list-group">
      <li class="list-group-item active">Info 1</li>
      <li class="list-group-item">Info 2</li>
      <li class="list-group-item">Info 3</li>
    </ul>
    <!--Google Map Container -->
    <div id="map"></div>
  </div>
  <div class="col-9">
    <div class="card mb-2">
      <img class="card-img-top" src="<%= campground.image %>" alt="">
      <div class="caption-full">
        <span class="float-right pr-1"><strong>$<%= campground.price %></strong>/night</span>
      </div>
      <div class="card-body pt-0">
        <h1 class="card-title"><a><%= campground.name %></a></h1>
        <p class="card-text"><%= campground.description %></p>
        <% if(typeof campground.author.username !== 'undefined') { %>
          <cite class="d-block">Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></cite>
        <% } %>
        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
          <form action="/campgrounds/<%= campground._id %>/?_method=DELETE" method="POST">
            <div class="btn-group">
              <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit"><i class="far fa-edit"></i> Edit</a>
              <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
            </div>
          </form>
        <% } %>
        <hr>
        <span>*****</span>
        <span class="d-block float-right">4 reviews</span>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-header">
        Comments
      </div>
      <ul class="list-group list-group-flush">
        <% campground.comments.forEach(comment => { %>
            <li class="list-group-item bg-light">
              <strong><%= comment.author.username %></strong>
              <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
              <p><%= comment.text %></p>
              <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"><i class="far fa-edit"></i> Edit</a>
                    <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                  </div>
                </form>
              <% } %>
            </li>
        <% });%>
      </ul>
      <div class="card-body">
        <a href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
      </div>
    </div>
  </div>
</div>

<!-- Google Maps Script -->
<script>
  // Initialize and add the map
  function initMap() {
    // The location
    let location = {lat: <%= campground.location.lat %>, lng: <%= campground.location.long %>};
    // The map, centered at location
    let map = new google.maps.Map(
        document.getElementById('map'), {zoom: 4, center: location});
    // The marker, positioned at location
    let marker = new google.maps.Marker({position: location, map: map});
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GEOCODER_API_KEY_PUBLIC %>&callback=initMap"></script>

<% include ../partials/footer %>
